
<%= Time.now %>

<script type="text/javascript">
$(function() {
  new Highcharts.Chart({
    chart: {
      renderTo: 'graph',
      defaultSeriesType: 'spline',
      marginRight: 10,
      events: {
        load: function() {
          var series = this.series[0];
          setInterval(function() {
            var x = (new Date()).getTime(),
            y = <%= Power.last.wat %>
            series.addPoint([x, y], true, true);
          }, 1000);
        }
      }
    },
    title: {
      text: 'Live random data',
      style: {
        margin: '10px 100px 0 0'
      }
    },
    xAxis: {
      type: 'datetime',
      tickPixelInterval: 1500
    },
    yAxis: {
      title: {
        text: 'Value'
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: '#808080'}]
    },
    legend: {
        enabled: false
    },
    exporting: {
        enabled: false
    },
    plotOptions: {
      spline: {
        dataLabels: {
          enabled: true,
          formatter: function() {
            if (!this.series.inc) this.series.inc = 1;
            if (this.series.inc >= parseInt(this.series.data.length)) {
              this.series.inc = 0;
              return this.point.y;
            }
            this.series.inc++;
          }
        }
      }
    },
    series: [{
      name: "Power",
      data: <%= @power %>
    },
    {
      name: "Battery",
      data: <%= @battery %>
    }]
  }); 
});
</script>

<div id="graph" style="width: 100%;"></div>

<%= @a %>

<% @power.each do |p| %>
<h1><%= p %></h1>
<% end %>

<% @battery.each do |b| %>
<h1><%= b %></h1>
<% end %>





hello world

